<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abbyberkers.gardener">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_klaver"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShowAlarm"
            android:label="@string/title_activity_show_alarm"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".ShowReminder"
            android:label="@string/title_activity_show_reminder"
            android:theme="@style/AppTheme.NoActionBar"
            />

        <!-- <activity android:name=".DisplayNotification" -->
        <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.garden.DisplayNotification" /> -->
        <!-- <category android:name="android.intent.category.DEFAULT"/> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->

        <receiver
            android:name=".DisplayNotification"
            android:enabled="true"
            android:process=":remote" />

        <activity
            android:name=".AlarmReceiver"
            android:label="@string/title_activity_alarm_receiver"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.abbyberkers.gardener.MainActivity" />
        </activity>

        <receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
